p{
    font-size: xx-small;
    align-content: center;
}
.column1{

  font-size: smaller;
  padding-right: 30px;
 align-content: first baseline;
 /* position: sticky; */
 
 /* background-color: green; */
 
display: flex;
flex-direction: column;
  
}
.column3{
  /* background-color: antiquewhite; */
  display: flex;
  
  
    font-size: smaller;
    padding-left: 5px;
    
}


.one{
  display: flex;
  justify-content: space-between;
}
